        <footer>
            <div class="container text-center">
            <p class="copy">UX-Design &copy;2017</p>
                    <div class="socials">
                    <a href="https://www.facebook.com/UxDesign-690772767726869/"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-yelp"></i></a>
                    <a href="http://uxdesign-and-style.business.site/"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
            </div>
        </footer> 