<div class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Today We make beautiful,online-stores that increase sales, improve operations and grow your business.experience, we know how to built like the back of our hand — we're the best in the business.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
</div>
<aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Start Today Get Your Free Quote</h2>
                <a href="" class="btn btn-default btn-xl sr-button">Give Us a Call</a>
            </div>
        </div>
</aside>
<div id="contact-first">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>863-969-8248</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:electronicsmf@aol.com">Electronicsmf@aol.com</a></p>
                </div>
            </div>
        </div>
</div>