<section id="slideshow">
	    <div class="container-fluid">
		    <div class="row">
	            <div class="col-lg-12 text-center">
                    <img src="assets/images/img02.jpg" class="img-responsive">
                    <img src="assets/images/img03.jpg" class="img-responsive">
                    <img src="assets/images/img04.jpg" class="img-responsive">
	            </div>
	        </div>
			<div class="row">
			    <div class="col-lg-12 text-center">
				    <h2>Make Your Dream Come True of Owning a House</h2>
				</div>	
			</div> 
		</div>	
</section>
<div class="banner parallax--bg">
                <img src="assets/images/banner-bg.jpeg" alt="">
                <div class="container">
                    <h2 class="banner-title">{{bannerh}}</h2>
                    <p class="banner-txt">{{bannerp}}</p>
                    <a href="/" class="btn btn-primary">More Info</a> 
                </div>
</div>
    <!-- Info Area -->
<section id="info">
  <div class="container">
    <div class="row">
            <div class="col-lg-12">
                    <h2 class="main-heading">{{title}}</h2>            
                    <p>This theme features a flexible, UX friendly </p>
                    <a class="btn btn-lg btn-danger">What We Offer</a>
            </div>
    </div>
  </div>
</section>
<app-footer></app-footer>